* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }

  body {
    margin: 0;
    height: 100vh;
    background-color: navy;
    color: white;
  }

  #startPage,#pitcherPage,#batterPage,#battersBoxPage {    
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #startHeader,#pitcherHeader,#batterHeader,#battersBoxHeader {
    border-bottom:  .25vh solid orange;
  }

  #startBody {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vh;
  }

  #pitcherBody,#batterBody {
    display: flex;
    align-items: center;
  }

  #pitcherSpace,#batterSpace {
    width: 20vh;
  }

  #pitcherBtns,#batterBtns {
    display: flex;
    flex-direction: column;
  }

  #pitcherBtns button,#batterBtns button {
    opacity: 50%;
    margin: 1vh;
    &:hover{
        opacity: 100%;
        cursor: pointer;
    }
  }

  #pitcherTTT,#batterTTT {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
  }

  #pitcherTTT div,#batterTTT div {
    border: .1vmin solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    &:hover {
        background-color: cadetblue;
        cursor: pointer;
    }
  }

  #pitcherMsg,#batterMsg {
    color: red;
  }

  #hintMsg {
    color: green;
  }

  #hint {
    width: 10vh;
    &:hover {
        opacity: 50%;
    }
  }

  #hintMsg {
    color: orangered;
  }

  #resultsDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #scoreDiv {
    margin-left: 10%;
  }

  #countDiv {
    margin-right: 10%;
  }

  #startBtn,#pitcherBtn,#batterBtn,#playAgainBoxBtn,#quitBoxBtn,#instructionsOpen, #hintOpen {
    width: auto;
    opacity: 60%;
    text-align: center;
    margin: .25vh;
    &:hover {
        opacity: 100%;
        cursor: pointer;
        -webkit-animation: notexistent;
        animation: notexistent;
    }
  }  

  #startBtn {
    background-color: white;
    border: .25vh solid orange;
    border-radius: 4vh;
    animation: startBtnGlowing 1700ms infinite;
    animation-direction: alternate-reverse;
  }  

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #100101;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  .modal-content span {
    display: inline-block;
    text-align: left;
    width: auto;
  }

/* The Close Button */
  #close, #close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus,
  #close2:hover,
  #close2:focus {
    color: rgb(90, 87, 87);
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes startBtnGlowing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
  }

  @keyframes animatetop {
    from {
        top: -300px; 
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
  }

  #hitImg,#missImg {
    height: 40vh;
    width: 40vh;
  }

  .flip-img {
    transform: rotateY(180deg);
  }